/* FONDO DE LA PAGINA */
.Home{
    background-image: url(../Imagenes/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* BOTON INICIAR SESION y REGISTRO */
.Botones a{
    position: relative;
    background-color: rgb(204, 14, 14); /*Borde de los botones*/
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.2em; /*Separacion entre las letras dentro del boton*/
    padding: 10px 20px; /*Borde alrededor de los botones*/
    transition: 0.5s;
}
.Botones a:hover{
    background: var(--clr);
    color:var(--clr);
    letter-spacing: 0.3em;
    box-shadow: 0 0 90px var(--clr);
}

.Botones a:before{
    content: ""; /*le quita el fondo rojo inicial a los botones, para que quede solo el borde*/
    position: absolute;
    inset: 3px; /*Borde rojo de inicio de sesion*/
    background: black;
}
.Botones a span{
    position:relative;
    z-index: 1;
}

/* ENCABEZADO ------------------------------------------------*/
html{
    scroll-behavior: smooth; /*Me permite deslizar cuando hago click en los modulos*/
}
.contenedor-header{
    background-color: black; /*Fondo del encabezado*/
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    position: fixed; /*mantiene estatica el encabezado en todas las secciones*/
    width: 100%; /*Define el tamaño del encabezado a lo largo*/
}
.contenedor-header header{
   display: flex; /*Coloca el nav y los botones en la parte de arriba junto al logo*/
   align-items: center;
   

}
/* logo */
img{
    width: 14rem;  
    
}
/*video*/
#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh; /* Ajusta la altura según tus necesidades */
    color: white;

}

.contenido-inicio {
    text-align: center; /*Centra los iconos de las redes sociales*/
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    
}

.contenedor-video {
    margin-top: 40px; /* Espaciado opcional entre el texto y el video */
    
}
.redes {
    margin-top: 60px; /* Espaciado opcional entre el video y las redes sociales */
}

/* Asegúrate de incluir estilos específicos para las redes sociales según tu diseño */
.redes a {
    margin-right: 30px; /* Espaciado entre iconos de redes sociales */
}

/*Para poner los menus en horizontal*/
.contenedor-header header ul{
    display: flex; /*Coloca los menus en forma horizontal*/
    margin-right: 180px; /*Empuja a los botones hacia el lado  derecho*/
}
/*texto del menu*/
.contenedor-header header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.contenedor-header header nav ul li a:hover{
    color: grey;
}

.contenedor-header .Botones a{
    margin-left: 20px;
    
    
}
/* SECCION SERVICIO ----------------------------------------------------*/
.servicios{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 50px 20px; /*Separa los texto de los margenes de las pantallas*/

}





/* PANTALLA INICIO--------------------------------------------------- */
.Inicio{
    background-image: url(../Imagenes/FondoInicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
  